body{
	background:url("fon3.jpg");
	background-size: cover;
}
table {
	width: 100%;
	border: 3px solid #0000cc;
}
#vb {
    display: none;
    table {
	}
	vertical-align:top;
}
    #vb:target {display: block;}
#ccp {
    display: none;
    table {
	}
}
    #ccp:target {display: block;}
#ger {
    display: none;
    table {
	}
}
    #ger:target {display: block;}
#jap {
    display: none;
    table {
	}
}
    #jap:target {display: block;}

